In [1]:

import geopandas as gpd
import pandas as pd

In [2]:
gdf = gpd.read_file("./data/s1_dv_2019_04_01_2019_10_31.shp", dirver="ESRI Shapefile")
gdf.head()

,date,group_id,relorb,look_dir,system_id,geometry
0,2019-04-01,106_41.89,106,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190401T22...,"POLYGON ((-77.32291 40.93963, -77.33222 40.970..."
1,2019-04-01,106_43.40,106,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190401T22...,"POLYGON ((-78.02794 43.61720, -78.11577 43.940..."
2,2019-04-01,106_45.20,106,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190401T23...,"POLYGON ((-75.48140 46.47212, -75.47715 46.459..."
3,2019-04-04,150_41.77,150,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190404T23...,"POLYGON ((-83.84993 42.31704, -83.50689 42.365..."
4,2019-04-04,150_43.27,150,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190404T23...,"POLYGON ((-83.94588 42.67766, -84.06177 43.119..."

In [11]:
gdf['date'] = pd.to_datetime(gdf['date'], format='%Y-%m-%d')
gdf['doy'] = gdf['date'].dt.dayofyear
gdf.head()

,date,group_id,relorb,look_dir,system_id,geometry,doy
0,2019-04-01,106_41.89,106,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190401T22...,"POLYGON ((-77.32291 40.93963, -77.33222 40.970...",91
1,2019-04-01,106_43.40,106,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190401T22...,"POLYGON ((-78.02794 43.61720, -78.11577 43.940...",91
2,2019-04-01,106_45.20,106,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190401T23...,"POLYGON ((-75.48140 46.47212, -75.47715 46.459...",91
3,2019-04-04,150_41.77,150,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190404T23...,"POLYGON ((-83.84993 42.31704, -83.50689 42.365...",94
4,2019-04-04,150_43.27,150,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190404T23...,"POLYGON ((-83.94588 42.67766, -84.06177 43.119...",94

In [15]:
import warnings

warnings.filterwarnings('ignore') # this is for pandas

def calc(gdf): return (gdf['doy'].min() + gdf['doy'].max()) // 2

rel_orbit = 150
in_gdf = gdf[gdf['relorb'] == rel_orbit]
early_season = in_gdf[(in_gdf['doy'] >= 135) & (in_gdf['doy'] <= 181)]
mid_season = in_gdf[(in_gdf['doy'] >= 182) & (in_gdf['doy'] <= 243)]

early_season['mid_point'] = calc(early_season)
mid_season['mid_point'] = calc(mid_season)

early_season['diff'] = early_season.apply(lambda x: x['doy'] - x['mid_point'], axis=1)
mid_season['diff'] = mid_season.apply(lambda x: x['doy'] - x['mid_point'], axis=1)

early_season['diff_abs'] = early_season['diff'].abs()
mid_season['diff_abs'] = mid_season['diff'].abs()

In [16]:
early_season

,date,group_id,relorb,look_dir,system_id,geometry,doy,mid_point,diff,diff_abs
61,2019-05-22,150_41.77,150,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190522T23...,"POLYGON ((-83.84654 42.30272, -83.84968 42.315...",142,157,-15,15
62,2019-05-22,150_43.27,150,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190522T23...,"POLYGON ((-82.68585 44.02498, -82.00270 44.108...",142,157,-15,15
63,2019-05-22,150_44.74,150,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190522T23...,"POLYGON ((-81.48139 45.67338, -81.47605 45.673...",142,157,-15,15
73,2019-06-03,150_41.77,150,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190603T23...,"POLYGON ((-80.83548 42.70620, -80.83295 42.706...",154,157,-3,3
74,2019-06-03,150_43.27,150,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190603T23...,"POLYGON ((-81.06153 42.67959, -83.84922 42.317...",154,157,-3,3
75,2019-06-03,150_44.74,150,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190603T23...,"POLYGON ((-82.44736 45.56411, -81.48138 45.672...",154,157,-3,3
88,2019-06-15,150_41.77,150,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190615T23...,"POLYGON ((-80.63522 41.19135, -81.10235 41.134...",166,157,9,9
89,2019-06-15,150_43.27,150,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190615T23...,"POLYGON ((-83.17707 43.96232, -82.67811 44.026...",166,157,9,9
90,2019-06-15,150_44.74,150,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190615T23...,"POLYGON ((-81.48400 45.67230, -81.47494 45.672...",166,157,9,9
103,2019-06-27,150_41.77,150,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190627T23...,"POLYGON ((-80.53259 41.20381, -81.08513 41.136...",178,157,21,21
104,2019-06-27,150_43.27,150,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190627T23...,"POLYGON ((-82.10251 44.09697, -81.15456 44.206...",178,157,21,21
105,2019-06-27,150_44.74,150,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190627T23...,"POLYGON ((-81.17531 44.20404, -81.27589 44.192...",178,157,21,21
299,2019-05-16,150_45.75,150,ASCENDING,COPERNICUS/S1_GRD/S1B_IW_GRDH_1SDV_20190516T23...,"POLYGON ((-82.82001 46.66638, -81.71854 46.787...",136,157,-21,21
309,2019-05-28,150_45.75,150,ASCENDING,COPERNICUS/S1_GRD/S1B_IW_GRDH_1SDV_20190528T23...,"POLYGON ((-84.46976 44.65977, -84.57832 45.046...",148,157,-9,9
315,2019-06-09,150_45.75,150,ASCENDING,COPERNICUS/S1_GRD/S1B_IW_GRDH_1SDV_20190609T23...,"POLYGON ((-84.95616 46.39917, -84.26802 46.489...",160,157,3,3
325,2019-06-21,150_45.75,150,ASCENDING,COPERNICUS/S1_GRD/S1B_IW_GRDH_1SDV_20190621T23...,"POLYGON ((-84.10582 46.51068, -82.88406 46.659...",172,157,15,15

In [23]:
min_abs = early_season.groupby('group_id')['diff_abs'].min().unique().tolist()

In [24]:
early_season = early_season[early_season['diff_abs'].isin(min_abs)]

In [25]:
early_season

,date,group_id,relorb,look_dir,system_id,geometry,doy,mid_point,diff,diff_abs
73,2019-06-03,150_41.77,150,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190603T23...,"POLYGON ((-80.83548 42.70620, -80.83295 42.706...",154,157,-3,3
74,2019-06-03,150_43.27,150,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190603T23...,"POLYGON ((-81.06153 42.67959, -83.84922 42.317...",154,157,-3,3
75,2019-06-03,150_44.74,150,ASCENDING,COPERNICUS/S1_GRD/S1A_IW_GRDH_1SDV_20190603T23...,"POLYGON ((-82.44736 45.56411, -81.48138 45.672...",154,157,-3,3
315,2019-06-09,150_45.75,150,ASCENDING,COPERNICUS/S1_GRD/S1B_IW_GRDH_1SDV_20190609T23...,"POLYGON ((-84.95616 46.39917, -84.26802 46.489...",160,157,3,3